@charset "UTF-8";

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #19191c;
  text-align: center;
  font-family: 'PT Mono', 'Courier New', Courier, monospace;
  font-weight: 400;
  color: #eee;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 50px;
  margin: 80px 0 30px 0;
}

h1,
h2,
h3 {
  font-weight: normal;
}

a {
  color: #89b;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

a:visited {
  color: #bbc;
}

ul {
  list-style: none;
  padding-left: 0;
}

footer {
  padding: 10px;
}

.icon {
  max-width: 20px;
  max-height: 20px;
  margin: 0 5px;
}

.photo {
  max-width: 900px;
  max-height: 900px;
  display: inline-block;
}

.photolink {
  border: 2px solid #19191c;
  display: inline-block;
  margin: 5px 0 40px;
}

.photolink:hover {
  border: 2px solid #aaa;
}

.photo-small {
  width: 300px;
}

.photo-gallery {
  vertical-align: middle;
  max-width: 300px;
  max-height: 200px;
  margin: 10px 7px;
}

.photo-large {
  max-width: 1000px;
  max-height: 1000px;
}

.photo-description {
  max-width: 600px;
  text-align: left;
  margin: 10px auto;
  padding: 0 10px;
}

.flex-center-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arrow-icon,
.arrow-icon-placeholder {
  width: 25px;
  margin: 80px 25px;
}

.arrow-icon-small,
.arrow-icon-small-placeholder {
  width: 15px;
  margin: 25px 25px 0;
}

.arrow-icon-placeholder,
.arrow-icon-small-placeholder {
  height: 10px;
  display: inline-block;
}

.alignright {
  text-align: right;
}

.alignleft {
  text-align: left;
}

.admin-nav {
  z-index: 2;
  position: relative;
  background-color: #193d34;
  padding: 0 15px;
}

.admin-nav a {
  display: inline-block;
  padding: 10px 3px;
}

.nav-link-active {
  background-color: #142c27;
}

.comment-form {
  vertical-align: text-top;
}

.stealth-link,
.stealth-link:visited {
  color: #eee;
  text-decoration: none;
}

input,
textarea {
  font-family: 'PT Mono', 'Courier New', Courier, monospace;
  font-size: 0.9rem;
}

input,
textarea,
.input,
.btn {
  border: 2px solid #19191c;
  vertical-align: top;
  border-right: 2px solid #0f0f11;
  border-bottom: 2px solid #0f0f11;
  background-color: #232327;
  color: #f3f3f3;
  padding: 5px;
}

.comment {
  border-right: 4px solid #0f0f11;
  border-bottom: 4px solid #0f0f11;
  width: 400px;
  margin: 20px 0;
  padding: 10px;
  display: inline-block;
  position: relative;
}

.comment .btn {
  position: absolute;
  left: -100px;
  top: 0;
}

.btn,
.btn:visited {
  padding: 10px 15px;
  -webkit-transition: border-color 0.1s linear;
  transition: border-color 0.1s linear;
  text-decoration: none;
  display: inline-block;
  color: #bbc;
}

.btn:hover {
  border: 2px solid #aaa;
  background-color: #2c2c32;
  cursor: default;
}

.btn:focus,
#photos_upload_button:focus + label {
  background-color: #27272c;
}

.toggle {
  padding: 5px;
  -webkit-transition: border-color 0.1s linear;
  transition: border-color 0.1s linear;
  text-decoration: none;
  display: inline-block;
  color: #bbc;
  border: 1px solid #19191c;
}

.toggle:before {
  content: '\25A1';
  padding: 0 5px;
}

.toggle-active:before {
  content: '\25A3';
}

.toggle:hover {
  border: 1px solid #aaa;
}

.tag {
  background-color: #2c2c32;
  padding: 5px 7px;
  border-radius: 3px;
  display: inline-block;
  margin: 5px 0;
}

.tag-active {
  background-color: #5c5c67;
  color: #19191c;
}

.tag-active-not {
  background-color: #5f5150;
}

a.tag,
a.tag:visited {
  color: #89b;
}

a.tag-active,
a.tag-active:visited,
a.tag-active-not,
a.tag-active-not:visited {
  color: #19191c;
}

.hidden {
  display: none;
}

.pretty-much-hidden {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inline-block {
  display: inline-block;
}

.error-panel {
  background-color: #933;
  display: inline-block;
  text-align: left;
  padding: 0 15px;
  border-right: 4px solid #0f0f11;
  border-bottom: 4px solid #0f0f11;
}

.error-panel p {
  margin-bottom: 6px;
}

.error-panel ul {
  margin-top: 0;
  list-style: square;
  padding-left: 16px;
}

.admin-index-panel {
  display: inline-block;
  vertical-align: top;
  margin-left: 15px;
  text-align: left;
}

.social-media-link {
  display: inline-block;
  vertical-align: bottom;
  margin: 0 3px;
  width: 20px;
  height: 20px;
  padding: 5px;
  line-height: 30px;
  white-space: nowrap;
  border-radius: 1px;
  text-align: center;
}

.social-media-link svg {
  width: 20px;
}

.social-media-link svg path {
  fill: #666;
}

.social-media-link:hover {
  background-color: #666;
}

.social-media-link:hover path {
  fill: #19191c;
}

@media (max-width: 1300px) {
  .photolink {
    margin-bottom: 20px;
  }

  .photo-gallery {
    max-width: 240px;
    max-height: 160px;
  }
}

@media (max-width: 1200px) {
  .photo-large {
    max-width: 800px;
    max-height: 800px;
  }
}

@media (max-width: 1060px) {
  .photo-gallery {
    max-width: 180px;
    max-height: 120px;
    margin: 5px 4px;
  }
}

@media (max-width: 1000px) {
  .photolink {
    margin-bottom: 10px;
  }

  .photo {
    max-width: 700px;
    max-height: 700px;
  }

  .photo-large {
    max-width: 700px;
    max-height: 700px;
  }

  .arrow-icon,
  .arrow-icon-placeholder {
    width: 25px;
    margin: 60px 20px;
  }
}

@media (max-width: 860px) {
  .photo-small {
    max-width: 250px;
    max-height: 250px;
  }

  .photo-large {
    max-width: 620px;
    max-height: 620px;
  }

  .arrow-icon,
  .arrow-icon-placeholder {
    width: 20px;
    margin: 60px 15px;
  }
}

@media (max-width: 740px) {
  .photolink {
    margin-bottom: 5px;
  }

  .photo-gallery {
    max-width: 150px;
    max-height: 100px;
    margin: 5px 2px;
  }

  .photo-small {
    max-width: 200px;
    max-height: 200px;
  }

  .photo {
    max-width: 500px;
    max-height: 500px;
  }

  .photo-large {
    max-width: 450px;
    max-height: 450px;
  }

  .arrow-icon,
  .arrow-icon-placeholder {
    width: 18px;
    margin: 60px 12px;
  }

  .admin-index-panel {
    margin-left: 0;
    margin-top: 5px;
  }

  .comment {
    width: 300px;
    margin: 20px 0;
    padding: 5px;
  }

  .comment .btn {
    left: -80px;
  }

  p,
  a {
    font-size: 0.9rem;
  }

  h1 {
    font-size: 40px;
  }

  h2,
  h2 a {
    font-size: 1.3rem;
  }
}

@media (max-width: 539px) {
  .photo {
    max-width: 430px;
    max-height: 430px;
  }

  .photo-large {
    max-width: 375px;
    max-height: 375px;
  }

  .arrow-icon,
  .arrow-icon-placeholder {
    width: 18px;
    margin: 60px 12px;
  }

  p,
  a {
    font-size: 0.8rem;
  }

  input,
  textarea {
    font-size: 0.8rem;
  }

  label {
    display: block;
  }

  h1 {
    font-size: 33px;
  }

  h2,
  h2 a {
    font-size: 1rem;
  }
}

@media (max-width: 469px) {
  .photo-gallery {
    max-width: 108px;
    max-height: 72px;
    margin: 3px 2px;
  }

  .photo {
    max-width: 300px;
    max-height: 300px;
  }

  .photo-large {
    max-width: 330px;
    max-height: 330px;
  }

  .arrow-icon,
  .arrow-icon-placeholder {
    width: 18px;
    margin: 40px 12px;
  }

  .admin-index-panel {
    text-align: center;
  }

  .comment {
    width: 300px;
    margin: 10px 0;
    padding: 5px;
  }

  .comment .btn {
    position: static;
  }
}

@media (max-width: 419px) {
  .photo-large {
    max-width: 280px;
    max-height: 280px;
  }

  .arrow-icon,
  .arrow-icon-placeholder {
    width: 17px;
    margin: 40px 10px;
  }
}

@media (max-width: 359px) {
  .photo-gallery {
    max-width: 99px;
    max-height: 66px;
    margin: 3px 1px;
  }

  .photo-large {
    max-width: 240px;
    max-height: 240px;
  }

  .arrow-icon,
  .arrow-icon-placeholder {
    width: 15px;
    margin: 40px 8px;
  }

  .comment {
    width: 270px;
    margin: 5px 0;
  }
}

