@font-face {
  font-family: "CodeLight";
  src: url("fonts/CODE_Light.eot") format("eot"), url("fonts/CODE_Light.woff") format("woff"), url("fonts/CODE_Light.ttf") format("truetype"), url("fonts/CODE_Light.svg#Code-Light") format("svg"); }
@font-face {
  font-family: "CodeBold";
  src: url("fonts/CODE_Bold.eot") format("eot"), url("fonts/CODE_Bold.woff") format("woff"), url("fonts/CODE_Bold.ttf") format("truetype"), url("fonts/CODE_Bold.svg#Code-Light") format("svg"); }
::-webkit-scrollbar {
  display: none; }

html {
  background: #080808; }

body {
  width: 100vw;
  margin: 0; }

header {
  position: relative;
  height: 100vh;
  background-image: url(img/bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top center;
  text-align: center;
  color: rgba(250, 250, 250, 0.8); }

#title {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  cursor: default; }
  #title span {
    font-family: "CodeBold";
    font-size: 60px;
    letter-spacing: 3px; }
  #title p {
    margin: 0px;
    font-family: "CodeLight";
    font-size: 30px; }
  #title #titleText {
    padding: 10px;
    width: 100%;
    background: rgba(0, 0, 0, 0.7); }

nav {
  background: rgba(0, 0, 0, 0.7);
  padding: 5px 0;
  position: absolute;
  bottom: 30px;
  letter-spacing: 1px;
  font-family: "CodeLight";
  font-size: 25px;
  color: rgba(250, 250, 250, 0.8);
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  justify-content: center;
  -webkit-justify-content: center;
  width: 100%; }
@media(max-width: 550px) {
  nav {
    bottom: 30px;
    flex-direction: column;
    -webkit-flex-direction: column;
    font-size: 20px; } }
  nav span {
    margin: 3px 40px; }
    nav span a {
      cursor: default;
      color: #aaa;
      text-decoration: none; }
      nav span a:hover {
        color: #fff; }

#work {
  padding-top: 100px;
  text-align: center;
  color: #aaa;
  letter-spacing: 3px;
  font-family: "CodeLight";
  font-size: 40px;
  width: 100%; }
  #work #pview {
    width: 100%;
    margin: 40px auto 20px;
    position: relative;
    padding-bottom: 0%;
    overflow: hidden; }
    #work #pview #closebutton {
      position: absolute;
      top: 0px;
      right: 70px;
      z-index: 1;
      cursor: default; }
@media(max-width: 866px) {
  #work #pview #closebutton {
    right: 30px;
    font-size: 30px; } }
@media(max-width: 440px) {
  #work #pview #closebutton {
    font-size: 20px; } }
    #work #pview .photonav {
      position: absolute;
      top: 30%;
      z-index: 1;
      width: 40px;
      height: 40px;
      background-size: cover; }
@media(max-width: 866px) {
  #work #pview .photonav {
    width: 20px;
    height: 20px; } }
    #work #pview #forwardbutton {
      right: 60px;
      background-image: url(img/forward.png); }
@media(max-width: 866px) {
  #work #pview #forwardbutton {
    right: 30px; } }
    #work #pview #backbutton {
      left: 60px;
      background-image: url(img/back.png); }
@media(max-width: 866px) {
  #work #pview #backbutton {
    left: 30px; 
  }
}
#pview #phot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; 
}
#work #photos {
  margin: 20px auto;
  max-width: 1200px;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  justify-content: center;
  -webkit-justify-content: center; 
}
#work #photos::after {
  clear: both;
  content: "";
  display: table; 
}
#work #photos div {
  height: 249px;
  width: 249px;
  margin: 20px;
  padding: 0px;
  background-size: cover; 
}
#work #photos div:hover {
  transform: scale(1.02, 1.02);
  -webkit-transform: scale(1.02, 1.02); }
@media(max-width: 590px) {
  #work #photos div {
    height: 125px;
    width: 125px;
    margin: 10px; 
  }
}
#work #photos #p01 {
  background-image: url(img/tile01.jpg); }
#work #photos #p02 {
  background-image: url(img/tile02.jpg); }
#work #photos #p03 {
  background-image: url(img/tile03.jpg); }
#work #photos #p04 {
  background-image: url(img/tile04.jpg); }
#work #photos #p05 {
  background-image: url(img/tile05.jpg); }
#work #photos #p06 {
  background-image: url(img/tile06.jpg); }
#work #photos #p07 {
  background-image: url(img/tile07.jpg); }
#work #photos #p08 {
  background-image: url(img/tile08.jpg); }
#work #photos #p09 {
  background-image: url(img/tile09.jpg); }
#work #photos #p10 {
  background-image: url(img/tile10.jpg); }
#work #photos #p11 {
  background-image: url(img/tile11.jpg); }
#work #photos #p12 {
  background-image: url(img/tile12.jpg); }
#work #videos {
  max-width: 1200px;
  margin: 10px auto;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }
#work #videos::after {
  clear: both;
  content: "";
  display: table; }
#work #videos div {
  width: 400px;
  height: 225px;
  margin: 10px 20px;
  background-size: cover; }
  #work #videos div:hover {
    transform: scale(1.02, 1.02);
    -webkit-transform: scale(1.02, 1.02); }
@media(max-width: 440px) {
  #work #videos div {
    width: 250px;
    height: 140px; 
  } 
}
#videos div iframe {
  width: 100%;
  height: 100%;
  display: none; 
}
#videos #vid1bt {
  background-image: url(img/vid1.jpg); 
}
#videos #vid2bt {
  background-image: url(img/vid2.jpg); 
}

#about {
  text-align: center;
  color: #777;
  max-width: 600px;
  margin: 100px auto;
  padding: 20px;
  font-size: 18px;
  padding-bottom: 50px; }
#about #aboutTitle {
  letter-spacing: 3px;
  font-family: "CodeLight";
  font-size: 40px; }
#about #profilePic {
  background-image: url(img/ppic.jpg);
  width: 256px;
  height: 256px;
  border-radius: 50%;
  margin: 50px auto; }
#about #aboutText1 {
  margin-top: 20px; }
#about #gearList {
  margin-top: 30px;
  font-size: 14px; }
#about #aboutText2 {
  margin-top: 30px; }
#about #contact {
  margin-top: 40px;
  margin-bottom: 0px; }
#about a {
  text-decoration: none;
  color: #555;
  margin-top: 8px; }

#footer {
  height: 100px;
  background-image: url(img/bg.jpg);
  background-size: cover;
  background-position: center center; }
#footer #overlay {
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  position: relative; }
#footer #overlay p {
  position: absolute;
  top: 12px;
  left: 50px;
  color: #aaa;
  letter-spacing: 2px;
  font-family: "CodeLight";
  font-size: 12px; }
#footer #overlay span {
  position: absolute;
  top: 38px;
  left: 50px;
  color: #aaa;
  letter-spacing: 3px;
  font-family: "CodeLight";
  font-size: 20px; }
