body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #19191c;
  text-align: center;
  font-family: 'PT Mono', 'Courier New', Courier, monospace;
  font-weight: 400;
  color: #eee;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 50px;
  margin: 80px 0 30px 0;
}

h1,
h2,
h3 {
  font-weight: normal;
}

a {
  color: #89b;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

a:visited {
  color: #bbc;
}

ul {
  list-style: none;
  padding-left: 0;
}

footer {
  padding: 10px;
}

.icon {
  max-width: 20px;
  max-height: 20px;
  margin: 0 5px;
}

.photo {
  width: 900px;
  display: inline-block;
}

.photolink {
  border: 2px solid #19191c;
  display: inline-block;
  margin: 5px 0 50px;
}

.photolink:hover {
  border: 2px solid #aaa;
}

.photo-small {
  width: 300px;
}

.photo-large {
  width: 1000px;
}

.flex-center-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arrow-icon,
.arrow-icon-placeholder {
  width: 25px;
  margin: 40px 25px;
}

.arrow-icon-small,
.arrow-icon-small-placeholder {
  width: 15px;
  margin: 0 25px;
}

.arrow-icon-placeholder,
.arrow-icon-small-placeholder {
  height: 10px;
  display: inline-block;
}

.alignright {
  text-align: right;
}

.admin-nav {
  background-color: #193d34;
  padding: 0 15px;
}

.admin-nav a {
  display: inline-block;
  padding: 10px 3px;
}

.nav-link-active {
  background-color: #142c27;
}

.comment-form {
  vertical-align: text-top;
}

input,
textarea {
  font-size: 14px;
}

input,
textarea,
.input,
.btn {
  border: 2px solid #19191c;
  vertical-align: top;
  border-right: 2px solid #0f0f11;
  border-bottom: 2px solid #0f0f11;
  background-color: #232327;
  color: #eee;
  padding: 5px;
}

.comment {
  border-right: 4px solid #0f0f11;
  border-bottom: 4px solid #0f0f11;
  width: 400px;
  margin: 20px 0;
  padding: 10px;
  display: inline-block;
  position: relative;
}

.comment .btn {
  position: absolute;
  left: -100px;
  top: 0;
}

.btn,
.btn:visited {
  padding: 10px 15px;
  -webkit-transition: border-color 0.1s linear;
  transition: border-color 0.1s linear;
  text-decoration: none;
  display: inline-block;
  color: #bbc;
}

.btn:hover {
  border: 2px solid #aaa;
  background-color: #2c2c32;
  cursor: default;
}

.btn:focus,
#photos_upload_button:focus + label {
  background-color: #27272c;
}

.tag {
  background-color: #2c2c32;
  padding: 5px 7px;
  border-radius: 3px;
  display: inline-block;
  margin: 5px 0;
}

a.tag,
a.tag:visited,
.tag a,
.tag a:visited {
  color: #89b;
}

.hidden {
  display: none;
}

.pretty-much-hidden {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.error-panel {
  background-color: #933;
  display: inline-block;
  text-align: left;
  padding: 0 15px;
  border-right: 4px solid #0f0f11;
  border-bottom: 4px solid #0f0f11;
}

.error-panel p {
  margin-bottom: 6px;
}

.error-panel ul {
  margin-top: 0;
  list-style: square;
  padding-left: 16px;
}

