body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #171719;
  text-align: center;
  font-family: 'PT Mono', 'Courier New', Courier, monospace;
  font-weight: 400;
  color: #eee;
}

h1 {
  font-size: 35px;
  margin: 45px 0 30px 0;
}

h1,
h2,
h3 {
  font-weight: normal;
}

a {
  outline: none;
}

footer {
  text-align: right;
}

.icon {
  max-width: 20px;
  max-height: 20px;
  margin: 0 5px;
}

.photo {
  max-width: 900px;
  display: block;
}

.photolink {
  border: 2px solid #171719;
  display: inline-block;
  margin: 5px 0 50px;
}

.photolink:hover {
  border: 2px solid #eee;
}

.photo-large {
  max-width: 1000px;
}

.flex-center-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arrow-icon,
.arrow-icon-placeholder {
  width: 25px;
  margin: 0 25px;
}

.arrow-icon-small,
.arrow-icon-small-placeholder {
  width: 15px;
  margin: 0 25px;
}

.arrow-icon-placeholder,
.arrow-icon-small-placeholder {
  height: 10px;
  display: inline-block;
}

