@import "pascal_variables";

body{
    box-sizing: border-box;
    background-color: $body-bg;
    text-align: center;
    font-family: 'PT Mono', 'Courier New', Courier, monospace;
    font-weight: 400;
    color: $text-color;
    padding: 0;
    margin: 0;
}

h1{
    font-size: 50px;
    margin: 80px 0 30px 0;
}

h1, h2, h3{
    font-weight: normal;
}

a{
    //outline: none;
    color: $link-color;
    text-decoration: underline dotted;
}

a:visited{
    color: $link-visited-color;
}

ul{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

footer{
    padding: 10px;
}

.icon{
    max-width: 20px;
    max-height: 20px;
    margin: 0 5px;
}

.photo{
    max-width: 900px;
    max-height: 900px;
    display: inline-block;
}

.photolink{
    border: 2px solid $body-bg;
    display: inline-block;
    margin: 5px 0 40px;
}

.photolink:hover{
    border: 2px solid $border-color;
}

.photo-gallery{
    vertical-align: middle;
    max-width: 300px;
    max-height: 200px;
    margin: 10px 7px;
}

.photo-large{
    max-width: 1000px;
    max-height: 1000px;
}

.photo-description{
    max-width: 600px;
    text-align: left;
    margin: 10px auto;
    padding: 0 10px;
}

.flex-center{
    justify-content: center;
    align-items: center;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-wrap{
    flex-wrap: wrap;
}


.arrow-icon {
    padding: 80px 25px;
}

.arrow-icon svg {
    width: 25px;
}

.arrow-icon-small {
    padding: 20px;
}

.arrow-icon-small svg {
    width: 15px;
}

.alignright{
    text-align: right;
}

.alignleft{
    text-align: left;
}

.admin-nav{
    z-index: 2;
    position: relative;
    background-color: #193d34;
    padding: 0 15px;
}

.admin-nav a{
    display: inline-block;
    padding: 10px 3px;
}

.nav-link-active{
    background-color: #142c27;
}

.comment-form{
    vertical-align: text-top;
}

.fill-parent {
    width: 100%;
    box-sizing: border-box;
}

.stealth-link, .stealth-link:visited{
    color: $text-color;
    text-decoration: none;
}

input, textarea{
    font-family: 'PT Mono', 'Courier New', Courier, monospace;
    font-size: 0.9rem;
}

input, textarea, .input, .btn{
    border: 2px solid $body-bg;
    vertical-align: top;
    border-right: 2px solid $darker-border-color;
    border-bottom: 2px solid $darker-border-color;
    background-color: $input-color;
    color: $input-text-color;
    padding: 5px;
    margin: 0 2px 3px 0;
}

.comment{
    border-right: 4px solid $darker-border-color;
    border-bottom: 4px solid $darker-border-color;
    width: 450px;
    margin: 0 0 10px;
    padding: 10px 15px;
    display: inline-block;
    position: relative;
    text-align: justify;
    background-color: $input-color;
    line-height: 1.3;
}

.comment h2{
    margin-top: 0;
    margin-bottom: 3px;
}

.comment .btn_comment_delete{
    position: absolute;
    left: -100px;
    top: 0;
}

.btn, .btn:visited{
    font-size: 1rem;
    padding: 10px 15px;
    transition: border-color 0.1s linear;
    text-decoration: none;
    display: inline-block;
    color: $link-visited-color;
    font-family: PT Mono,Courier New,Courier,monospace;
}

.btn:disabled {
    color: #6e6e73;
}

.btn:hover{
    border: 2px solid $border-color;
    background-color: $button-active-color;
    cursor: default;
}

.btn:hover:disabled {
    border: 2px solid $body-bg;
    border-right: 2px solid $darker-border-color;
    border-bottom: 2px solid $darker-border-color;
}

.btn:focus, #photos_upload_button:focus + label{
    background-color: $button-focus-color;
}

.toggle{
    transition: border-color 0.1s linear;
    text-decoration: none;
    display: inline-block;
    color: $link-visited-color;
    border: 1px solid $body-bg;
    margin-left: -5px;
}
.toggle:before{
    content: '□';
    padding: 0 5px;
}

.toggle-active:before{
    content: '▣';
    padding: 0 0px;
}

.toggle:hover{
    border: 1px solid $border-color;
}

.tag {
    background-color: $tag-color;
    padding: 5px 7px;
    border-radius: 3px;
    display: inline-block;
    margin: 0 3px 3px 1px;
}

.tag-active {
  background-color: lighten($tag-color, 20%);
}

.tag-active-not {
  background-color: #5f5150;
}

a.tag,
a.tag:visited {
  color: #89b;
}

a.tag-active,
a.tag-active:visited,
a.tag-active-not,
a.tag-active-not:visited {
  color: $body-bg;
}

.hidden{
    display: none;
}

.pretty-much-hidden{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inline-block {
  display: inline-block;
}

.error-panel{
    background-color: $errors-color;
    display: inline-block;
    text-align: left;
    padding: 0 15px;
    border-right: 4px solid $darker-border-color;
    border-bottom: 4px solid $darker-border-color;
}

.error-panel p{
    margin-bottom: 6px;
}

.error-panel ul{
    margin-top: 0;
    list-style: square;
    padding-left: 16px;
    margin-bottom: 16px;
}

.staging-view-controls {
    text-align: left;
    display: inline-block;
    vertical-align: top;
}

.staging-view-grid {
    display: grid;
    grid-template-columns: 300px 350px;
    grid-column-gap: 25px;
    grid-row-gap: 10px;
    justify-content: center;
    margin: 0 10px;
}

.staging-view-photo-controls{
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.external-platform-link{
    display: inline-block;

    vertical-align: bottom;

    margin: 0 3px;
    width: 20px;
    height: 20px;
    padding: 5px;
    line-height: 30px;
    white-space: nowrap;
    border-radius: 1px;
    text-align: center;

    svg{
        width: 20px;

        path{
            fill: #666;
        }
    }
}

.external-platform-link:hover{
    background-color: #666;
    path{
        fill: $body-bg;
    }
}

@media(max-width: 1300px){
    .photolink{
        margin-bottom: 20px;
    }

    .photo-gallery{
        max-width: 240px;
        max-height: 160px;
    }
}

@media(max-width: 1200px){
    .photo-large{
        max-width: 800px;
        max-height: 800px;
    }
}

@media(max-width: 1060px){
    .photo-gallery{
        max-width: 180px;
        max-height: 120px;
        margin: 5px 4px;
    }
}

@media(max-width: 1000px){
    .photolink{
        margin-bottom: 10px;
    }

    .photo{
        max-width: 700px;
        max-height: 700px;
    }

    .photo-large{
        max-width: 700px;
        max-height: 700px;
    }

    .arrow-icon {
        padding: 60px 20px;
    }
}

@media(max-width: 860px){
    .photo-large{
        max-width: 620px;
        max-height: 620px;
    }

    .arrow-icon {
        padding: 60px 15px;
    }

    .arrow-icon svg {
        width: 20px;
    }
}

@media(max-width: 740px){
    .photolink{
        margin-bottom: 5px;
    }

    .photo-gallery{
        max-width: 150px;
        max-height: 100px;
        margin: 5px 2px;
    }

    .photo{
        max-width: 500px;
        max-height: 500px;
    }

    .photo-large{
        max-width: 450px;
        max-height: 450px;
    }

    .arrow-icon {
        padding: 60px 12px;
    }

    .arrow-icon svg {
        width: 18px;
    }

    .comment{
        width: 350px;
        margin: 20px 0;
        padding: 5px;
    }

    .comment .btn{
        left: -80px;
    }

    p,a{
        font-size: 0.9rem;
    }

    h1{
        font-size: 40px;
    }

    h2, h2 a{
        font-size: 1.3rem;
    }

    .staging-view-grid{
        grid-template-columns: 200px minmax(0, 350px);
    }
}

@media(max-width: 539px){
    .photo{
        max-width: 430px;
        max-height: 430px;
    }

    .photo-large{
        max-width: 375px;
        max-height: 375px;
    }

    .arrow-icon svg {
        width: 18px;
    }

    p,a{
        font-size: 0.8rem;
    }

    input, textarea{
        font-size: 0.8rem;
    }

    label{
        display: block;
    }

    h1{
        font-size: 33px;
    }

    h2, h2 a{
        font-size: 1rem;
    }
}

@media(max-width: 469px){
    .photo-gallery{
        max-width: 108px;
        max-height: 72px;
        margin: 3px 2px;
    }

    .photo{
        max-width: 300px;
        max-height: 300px;
    }

    .photo-large{
        max-width: 330px;
        max-height: 330px;
    }

    .arrow-icon {
        padding: 40px 12px;
    }

    .arrow-icon-small {
        padding: 15px;
    }

    .arrow-icon-small svg {
        width: 13px;
    }

    .comment{
        width: 300px;
        margin: 10px 0;
        padding: 5px;
    }

    .comment .btn{
        position: static;
    }

    .staging-view-grid{
        grid-template-columns: 1fr;
    }

    .hide-below-469{
        display: none;
    }
}

@media(max-width: 419px){
    .photo-large{
        max-width: 280px;
        max-height: 280px;
    }

    .arrow-icon {
        padding: 40px 10px;
    }

    .arrow-icon svg {
        width: 17px;
    }
}

@media(max-width: 359px){
    .photo-gallery{
        max-width: 99px;
        max-height: 66px;
        margin: 3px 1px;
    }

    .photo-large{
        max-width: 240px;
        max-height: 240px;
    }

    .arrow-icon {
        padding: 40px 8px;
    }

    .arrow-icon svg {
        width: 15px;
    }

    .comment{
        width: 270px;
        margin: 5px 0;
    }
}
