//$body-bg: rgb(19, 19, 19);
$body-bg: #19191c;
$text-color: #eee;

$border-color: #aaa;
$darker-border-color: darken($body-bg, 4%);
$input-color: lighten($body-bg, 4%);
$button-active-color: lighten($body-bg, 8%);
$button-focus-color: lighten($body-bg, 6%);

$tag-color: lighten($body-bg, 8%);

$link-color: #89b;
$link-visited-color: #bbc;

$errors-color: #933;

body{
    box-sizing: border-box;
    background-color: $body-bg;
    text-align: center;
    font-family: 'PT Mono', 'Courier New', Courier, monospace;
    font-weight: 400;
    color: $text-color;
    padding: 0;
    margin: 0;
}

h1{
    font-size: 50px;
    margin: 80px 0 30px 0;
}

h1, h2, h3{
    font-weight: normal;
}

a{
    //outline: none;
    color: $link-color;
    text-decoration: underline dotted;
}

a:visited{
    color: $link-visited-color;
}

ul{
    list-style: none;
    padding-left: 0;
}

footer{
    padding: 10px;
}

.icon{
    max-width: 20px;
    max-height: 20px;
    margin: 0 5px;
}

.photo{
    width: 900px;
    display: inline-block;
}

.photolink{
    border: 2px solid $body-bg;
    display: inline-block;
    margin: 5px 0 50px;
}

.photolink:hover{
    border: 2px solid $border-color;
}

.photo-small{
    width: 300px;
}

.photo-large{
    width: 1000px;
}

.flex-center-row{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.arrow-icon, .arrow-icon-placeholder{
    width: 25px;
    margin: 40px 25px;
}

.arrow-icon-small, .arrow-icon-small-placeholder{
    width: 15px;
    margin: 0 25px;
}

.arrow-icon-placeholder, .arrow-icon-small-placeholder{
    height: 10px;
    display: inline-block
}

.alignright{
    text-align: right;
}

.admin-nav{
    background-color: #193d34;
    padding: 0 15px;
}

.admin-nav a{
    display: inline-block;
    padding: 10px 3px;
}

.nav-link-active{
    background-color: #142c27;//#2b4f47;
}

.comment-form{
    //border: 1px solid $border-color;
    vertical-align: text-top;
}

input, textarea{
    font-size: 14px;
}

input, textarea, .btn{
    border: 2px solid $body-bg;
    vertical-align: top;
    border-right: 2px solid $darker-border-color;
    border-bottom: 2px solid $darker-border-color;
    background-color: $input-color;
    color: $text-color;
    padding: 5px;
}

.comment{
    border-right: 4px solid $darker-border-color;
    border-bottom: 4px solid $darker-border-color;
    width: 400px;
    margin: 20px 0;
    padding: 10px;
    display: inline-block;
    position: relative;
}

.comment .btn{
    position: absolute;
    left: -100px;
    top: 0;
}

.btn, .btn:visited{
    padding: 10px 15px;
    transition: border-color 0.1s linear;
    text-decoration: none;
    display: inline-block;
    color: $link-visited-color;
}

.btn:hover{
    border: 2px solid $border-color;
    background-color: $button-active-color;
    cursor: default;
}

.btn:focus, #photos_upload_button:focus + label{
    background-color: $button-focus-color;
}

.tag{
    background-color: $tag-color;
    padding: 5px 7px;
    border-radius: 3px;
    display: inline-block;
    margin: 5px 0;
}

a.tag, a.tag:visited,
.tag a, .tag a:visited{
    color: $link-color;
}

.hidden{
    display: none;
}

.pretty-much-hidden{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.error-panel{
    background-color: $errors-color;
    display: inline-block;
    text-align: left;
    padding: 0 15px;
    border-right: 4px solid $darker-border-color;
    border-bottom: 4px solid $darker-border-color;
}

.error-panel p{
    margin-bottom: 6px;
}

.error-panel ul{
    margin-top: 0;
    list-style: square;
    padding-left: 16px;
}