$body-bg: #19191c;
$text-color: #eee;

$border-color: #aaa;
$darker-border-color: darken($body-bg, 4%);
$button-active-color: lighten($body-bg, 4%);

$link-color: #78b;
$link-visited-color: #ccc;

body{
    box-sizing: border-box;
    background-color: $body-bg;
    text-align: center;
    font-family: 'PT Mono', 'Courier New', Courier, monospace;
    font-weight: 400;
    color: $text-color;
    padding: 0;
    margin: 0;
}

h1{
    font-size: 50px;
    margin: 130px 0 30px 0;
}

h1, h2, h3{
    font-weight: normal;
}

a{
    //outline: none;
    color: $link-color;
}

a:visited{
    color: $link-visited-color;
}

ul{
    list-style: none;
}

footer{
    text-align: right;
    padding: 10px;
}

.icon{
    max-width: 20px;
    max-height: 20px;
    margin: 0 5px;
}

.photo{
    max-width: 900px;
    display: block;
}

.photolink{
    border: 2px solid $body-bg;
    display: inline-block;
    margin: 5px 0 50px;
}

.photolink:hover{
    border: 2px solid $border-color;
}


.photo-large{
    max-width: 1000px;
}

.flex-center-row{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.arrow-icon, .arrow-icon-placeholder{
    width: 25px;
    margin: 0 25px;
}

.arrow-icon-small, .arrow-icon-small-placeholder{
    width: 15px;
    margin: 0 25px;
}

.arrow-icon-placeholder, .arrow-icon-small-placeholder{
    height: 10px;
    display: inline-block
}

.alignright{
    text-align: right;
}

.admin-nav{
    background-color: #193d34;
    padding: 15px;
}

.comment-form{
    //border: 1px solid $border-color;
    vertical-align: text-top;
}

input, textarea, .btn{
    border: 2px solid $body-bg;
    vertical-align: top;
    border-right: 2px solid $darker-border-color;
    border-bottom: 2px solid $darker-border-color;
    background-color: $button-active-color;
    color: $text-color;
    padding: 5px;
}


.comment{
    border-right: 4px solid $darker-border-color;
    border-bottom: 4px solid $darker-border-color;
    width: 400px;
    margin: 20px 0;
    padding: 10px;
    display: inline-block;
    position: relative;
}

.comment button{
    // border: 1px solid $border-color;
    // background-color: rgba(0,0,0,0);
    // color: $text-color;
    position: absolute;
    right: -80px;
    top: 0;
}


.btn{
    padding: 10px 15px;
    transition: border-color 0.1s linear;   
}

.btn:hover{
    border: 2px solid $border-color;
    background-color: $button-active-color;

}